:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body{
  background-color: var(--dark-blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-grayish-blue);
  width: 700px;
  height: 350px;
  padding: 30px;
  border-radius: 20px;
}
h3{
  display: flex;
  justify-content: center;
}
#Advice{
  color: var(--neon-green);
}
#QQQ{
  height: 280px;
  color: var(--light-cyan);
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
}
#Dice{
  height: 35px;
  width: 35px;
}
#DiceBack{
  border-radius: 50%;
    background-color: var(--neon-green);
    width: 65px;
    height: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    align-content: center;
    flex-wrap: wrap;
    border-style: none;
}
#DiceBack:hover{
  box-shadow: 0px 0px 70px 0px hsl(150, 100%, 66%);  
}
#Divider{
  width: fit-content;
  height: fit-content;
}
.rotate-button {
  transition: transform 0.5s ease-in-out;
}

.rotate {
  transform: rotate(360deg); 
}
.rotate:hover{
  box-shadow: 0px 0px 70px 0px hsl(150, 100%, 66%);  
}